/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset browser styles */

body {
	margin: 0;
	background-color: rgba(236, 232, 229, 0.40);
}
* {
  margin: 0;
  padding: 0;
  color: #292623;
  font-size: 100%;
  box-sizing: border-box;
}
/* Menu start */
a.icon {
	background-color: 0x1a7cde;
}
.topnav {
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	overflow: hidden;
	background-color: #3f4e5c;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: rgba(196, 196, 196, 0.79);
	padding: 12px 19px;
	text-decoration: none;
	font-size: 1em;
	text-shadow: 2px 1px 9px rgba(0, 0, 0, 0.57);
	margin-top: 1px;
	transition: all .4s;
}
/* Change the color of links on hover */
.topnav a:not(.active):hover {
	margin-top: -1px;
	padding: 13px 19px;
	text-shadow: rgba(0,0,0,.3) 15px 10px 5px;
}
/* Add an active class to highlight the current page */
.active {
 	background-color: #3f4e5c;
	color: white!important;
	margin-top: 0px!important;
	font-size: 1.2em!important;
}
.topnav .icon {
	display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;}
	.topnav a.icon {
		float: right;
		display: block;}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;}
  .topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;}
}
/* Menu end */
a:hover {
	color: rgba(255, 255, 255, 0.62);
} /* подсветка Email Me */
a#typo {
	color: #ff0000;
	text-decoration: none;
}
a:hover#typo {
	color: #0a00ff;
	text-decoration: none;
}

#mlist a{
	text-decoration: none;
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#mlist a:hover{
	color: #2279c6;
}
#portfolio a:hover{
	color: #2279c6;
}
section {
	margin-top: 0em;
	width: 100%;
	background-image: url(../images/background.jpg);
	text-align: center;
}
 #myImg {
	text-align: center;
	transition: all .4s;
}
#myImg:hover {
	box-shadow: rgba(0,0,0,.2) 0 0 10em;
}
#myImg {
	margin-top: 2rem!important;
	border-radius: 200px;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.9);
}
h1#main {
	text-align: center;
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 2em;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.78);
	text-shadow: 4px 4px 6px rgb(0, 0, 0);
	padding: .4em;
}
/* Email Me button*/
.mb-2, .my-2 {
	margin-bottom: 2rem!important;
	text-decoration: none;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.9);
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn {
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	display: inline-block;
	font-weight: 400;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	border-radius: .25rem;
}
#about {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 2em 9% 0.3em;
	font-size: 1.5em;
	text-align: center;
}
#portfolio {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 6em 30% 0;
	text-align: center;
	font-size: 1.4em;
}
h3.mp {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 3em 9% 0;
	font-size: 1.2em;	
	text-align: center;
}
p.col-1 {
	margin: .2em 9% 1em;
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	text-align: center;
	font-size: 1em;
	font-weight: 300;
}
.thumbnail img {

    display: block;
    border: 0;
    width: 100%;
    height: auto;

}
footer#footer {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background-color: rgba(68, 69, 77, 0.74);
	text-align: center;
	font-size: 70%;
	line-height: 3.8em;
	font-weight: 300;
}
#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}
/* Top button */
#go-top {
	position: fixed;
	bottom: 35px;
	right: 0px;
	cursor: pointer;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}
#go-top:hover {
	background-image: linear-gradient(rgba(0, 118, 255, 0.11), rgba(226, 66, 37, 0.09));
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}









/* Card Based Layout - Base styles */

#singlenav {
	margin-bottom: 2em;
}

.site-title {
	color: white;
}

.card {
	height: 100%;
	margin: 1em auto auto;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
/*	padding: 1.4em;*/
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 95%;
}

/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -1em;
    }

    .card {
        display: flex;
        flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    
    .card {
        flex: 0 1 calc(33% - 1em);
        margin-bottom: 2em;
    }
}



/* Card Based Layout - Base styles */

#singlenav {
	margin-bottom: 2em;
}

.site-title {
	color: white;
}

.card {
	background: white;
	margin-bottom: 2em;	
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card-content p {
	font-size: 95%;
}

/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -1em;
    }

    .card {
        display: flex;
        flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    
    .card {
        flex: 0 1 calc(33% - 1em);
        margin-bottom: 2em;
    }
}



