/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset browser styles */

body {
	margin: 0;
	background-color: rgba(236, 232, 229, 0.40);
}
* {
  margin: 0;
  padding: 0;
  color: #292623;
  font-size: 100%;
  box-sizing: border-box;
}
/* Menu start */
a.icon {
	background-color: 0x1a7cde;
}
.topnav {
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	overflow: hidden;
	background-color: #3f4e5c;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: rgba(196, 196, 196, 0.79);
	padding: 12px 19px;
	text-decoration: none;
	font-size: 1em;
	text-shadow: 2px 1px 9px rgba(0, 0, 0, 0.57);
	margin-top: 1px;
}
/* Change the color of links on hover */
.topnav a:hover {
	margin-top: -1px;
	padding: 10px 19px 14px 19px;
	text-shadow: rgba(0,0,0,.3) 15px 10px 5px;
	transition: all .4s;
}
/* Add an active class to highlight the current page */
.active {
 	background-color: #3f4e5c;
	color: white!important;
	margin-top: 0px!important;
	font-size: 1.2em!important;
}
.topnav .icon {
	display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;}
	.topnav a.icon {
		float: right;
		display: block;}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;}
  .topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;}
}
/* Menu end */
a:hover {
	color: rgba(255, 255, 255, 0.62);
} /* подсветка Email Me */
section {
	margin-top: 0em;
	width: 100%;
	background-image: url(../images/background.jpg);
	text-align: center;
}
#pic1 .round {
	text-align: center;
}
.round {
	margin-top: 2rem!important;
	border-radius: 200px;
	border: 0px solid gray;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.9);
}
h1#main {
	text-align: center;
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 2em;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.78);
	text-shadow: 4px 4px 6px rgb(0, 0, 0);
	padding: .4em;
}
/* Email Me button*/
.mb-2, .my-2 {
	margin-bottom: 2rem!important;
	text-decoration: none;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.9);
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn {
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	display: inline-block;
	font-weight: 400;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	border-radius: .25rem;
}
#about {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 1em 9% 1em;
	font-size: 1em;
}
p.col-1 {
	margin: 0em 9% 1em;
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	text-align: justify;
	font-size: 1em;
	font-weight: 300;
}
footer#footer {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background-color: rgba(68, 69, 77, 0.74);
	text-align: center;
	font-size: 70%;
	line-height: 3.8em;
	font-weight: 300;
}
#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
}
/* Top button */
#go-top {
	position: fixed;
	bottom: 35px;
	right: 0px;
	cursor: pointer;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}
#go-top:hover {
	background-image: linear-gradient(rgba(0, 118, 255, 0.11), rgba(226, 66, 37, 0.09));
}
