/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

* {
  margin: 0;
  padding: 0;
  color: #292623;
  font-size: 100%;
  box-sizing: border-box;
}
nav {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 40px;
    line-height: 40px;
    background: #343a40;
    padding: 0 30px;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.9);
}
div#logo {
    float: left;
}
div#logo #brand {
    font-size: 160%;
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: .9em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.78);
	text-shadow: 2px 2px 6px rgb(0, 0, 0);
	text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
li>a {
    padding: 0 10px;
    text-decoration: none;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: .9em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.78);
	text-shadow: 2px 2px 6px rgb(0, 0, 0);
}
a:hover {
	color: rgba(255, 255, 255, 0.62);
}
#brand:hover {
	color: rgba(255, 255, 255, 0.62) !important;
}
section {
	margin-top: 2em;
	width: 100%;
	background-image: url(../images/background.jpg);
	text-align: center;
}
#pic1 {
	text-align: center;
}
.round {
	margin-top: 2.5rem!important;
	border-radius: 200px;
	border: 0px solid gray;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.9);
}
h1#main {
	text-align: center;
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 2em;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.78);
	text-shadow: 4px 4px 6px rgb(0, 0, 0);
	padding: .4em;
}
.mb-2, .my-2 {
	margin-bottom: 2rem!important;
	text-decoration: none;
	box-shadow: 0 0 10em rgba(0, 0, 0, 0.9);
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn {
	font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	display: inline-block;
	font-weight: 400;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	border-radius: .25rem;
}
#about {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 1em 6em 1em 6em;
	font-size: 1em;
}
p.col-1 {
	margin: 0em 6em 1em 6em;
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	text-align: justify;
	font-size: 1em;
	font-weight: 300;
}
footer {
	font-family:  BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue", Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background-color: rgba(68, 69, 77, 0.74);
	text-align: center;
	font-size: .8em;
	line-height: 3.5em;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}